/* Who We Are Top Bar Section */
.who-we-are-section {
    background-color: navy;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 20px 0;
}
.who-we-are-section h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}
.who-we-are-section p {
    font-size: 10.8m;
    line-height: 1.2;
    max-width: 800px; 
}


/* Meet the Team Header */
.meet-the-team-section {
    color: navy;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 0%;
    padding-bottom: 1%;
    margin: 20px auto; 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.meet-the-team-section h2 {
    font-size: 2.5em;
    margin-bottom: 0px;
    font-weight: bold; 
}
.meet-the-team-section p {
    font-size: 1.2em;
    line-height: 1.2;
    max-width: 800px; /
}


/* BIO SECTION */
.tutors-bio-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px auto;
    color: navy;
}
.tutors-bio-section p {
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
}
.tutor {
    flex-basis: calc(50% - 20px); /* Subtract gap from flex-basis */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.tutor-photo {
    width: 200px; 
    height: auto;
    border-radius: 25%; 
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}
.tutor-photo:hover {
    transform: scale(1.10);
}
.title {
    font-weight: bold;
    margin-bottom: 10px;
}
.tutor .contact-info {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.tutor .contact-info a[href^="mailto:"] {
    color: darkgoldenrod; 
    text-decoration: none;
}
.tutor .contact-info a[href^="mailto:"]:hover {
    color: gold; 
    text-decoration: underline; 
}
.linkedin-logo {
    width: 40px; 
    height: auto;
    margin-top: 10px; 
}
.tutor .contact-info a {
    text-align: left;
    display: block;
    padding-left: 10%;
    padding-right: 10%;
}

@media (max-width: 768px) {
    .tutor {
        flex-basis: 100%;
    }
}


/* Contact Section */
.right-tutors-section {
    text-align: center;
    margin: 40px 0;
    padding: 20px;
}
.right-tutors-section h2 {
    font-size: 3.5em;
    color: navy;
    margin-bottom: 20px;
}
.contact-link {
    font-size: 1.2em;
    color: navy; 
    background-color: gold; 
    padding: 10px 20px;
    border: 2px solid navy; 
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: inline-block; 
}
.contact-link:hover {
    background-color: darkgoldenrod; 
    color: navy; 
}

