/* UNIVERSAL BODY CHANGES - ALL PAGES*/
body {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #faf0e6;
}


/* NAV BAR ELEMENTS - ALL PAGES */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #faf0e6;
    color: white;
    padding: 10px 50px;
}
.logo {
    cursor: pointer;
}
.top-bar img {
    height: 50px;
}
.countdown {
    text-align: center;
    color: navy;

}
.navigation a, .dropdown span {
    color: gold; 
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.navigation a:hover, .dropdown span:hover {
    background-color: darkgoldenrod; 
}
.navigation {
    display: flex;
    align-items: center;
    gap: 20px;
}
.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer; 
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: navy; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    border-radius: 5px; 
    min-width: 160px; 
    width: auto; 
    white-space: nowrap; 
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown a {
    color: white; 
    text-decoration: none;
    display: block;
    padding: 5px 10px; 
}
.dropdown a:hover {
    background-color: darkgoldenrod; 
    color: navy; 
}
.navigation a, .dropdown span {
    color: navy; 
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background-color: gold; 
}
.login-button {
    background-color: gold;
    color: navy;
    border: 2px solid navy; 
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    transition: background-color 0.3s ease, transform 0.2s;
    border-radius: 5px; 
}
.login-button:hover {
    background-color: darkgoldenrod;
    transform: scale(1.05); 
}


/* SECTION 1 -  'Make Next Day / Enrolling Now */
.section-one {
    display: flex;
    justify-content: space-between;
    background-color: navy;
    color: white;
    padding: 50px; 
    box-sizing: border-box;
    margin-bottom: 40px
}
.content-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: left; 
    margin-right: 15px;
}
.content-left, .content-right {
    flex: 1;
}
.content-left h1 {
    font-size: 4.2em; 
    margin-bottom: 20px;
}
.content-left p {
    font-size: 1.4em;
    margin-bottom: 20px;
}
.enroll-button {
    background-color: gold;
    color: navy;
    border: 2px solid navy;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s;
}
.enroll-button:hover {
    background-color: darkgoldenrod;
    transform: scale(1.05);
}
.button-container {
    align-self: flex-start; 
    width: 100%; 
}
.content-right img {
    width: 100%; 
    max-width: 90%; 
    height: auto;
    display: block; 
    margin: 5% auto;
    border-radius: 5px;
}
@media (max-width: 768px) {
    .section-one {
        flex-direction: column; 
    }
    .content-left, .content-right {
        flex: none;
        width: 100%; 
        margin-bottom: 20px; 
    }
}


/* SECTION TWO - Online from the Ground Up */
.section-two {
    position: relative;
    width: 100vw; 
    height: 85vh;
    background-image: url('../images/nerd-girl.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    padding: 0; 
    margin-left: calc(-50vw + 50%); 
    margin-right: calc(-50vw + 50%); 
    margin-bottom: 40px;
    box-sizing: border-box; 
    overflow: hidden; 
}
.overlay-text {
    max-width: 600px; 
    color: white; 
    max-width: 50%;
    padding-left:50px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}
.overlay-text h2, .overlay-text p {
    margin-left: 0; 
    margin-bottom: 20px;
}
.overlay-text h2 {
    font-size: 4.2em; 
    padding-right: 35px;
}
.overlay-text p {
    font-size: 1.2em;  
    padding-right: 200px
}


/* What Do We Do */
.what-do {
    text-align: center;
    color: navy;
    margin-bottom: 20px;
}
#grade-requirement {
    text-align: left; 
    padding-left: 15px;
    font-size: 3.2em; 
    
}
.services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.service {
    width: 22%; 
    margin: 5px; 
    text-align: left;
}
.service img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}
.service h3 {
    margin-bottom: 10px;
}
.service p {
    margin-bottom: 10px;
    font-size: 0.9em;
}
.service a {
    text-decoration: underline;
    color: navy; 
}


/* Contact Form */
.contact-form-container {
    text-align: center;
    max-width: 500px; 
    margin: 0 auto; 
    padding: 20px;
    background-color: navy; 
    color: #faf0e6;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-top: 65px;
    margin-bottom: 200px;
}
.contact-form-container h2 {
    margin-top: 0px;
    margin-bottom: 20px;
    color: #faf0e6; 
    font-size: 3.2em; 
}
#contact-form {
    display: flex;
    flex-direction: column;
}
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form select,
#contact-form textarea {
    margin-bottom: 10px;
    padding: 10px; 
    border: 1px solid navy; 
    border-radius: 5px; 
    background-color: white; 
    color: navy; 
}
#contact-form button {
    background-color: gold; 
    color: navy;
    padding: 10px 15px;
    border: 2px solid navy;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s; 
    font-weight: bold;
}
#contact-form button:hover {
    background-color: darkgoldenrod; 
    transform: scale(1.05); 
}


/* Test Link Section */
.test-links {
    text-align: center;
    padding: 0px;
    background-color: #faf0e6; 
    font-size: 0.8em;
    line-height: 5px;
}
.test-links a {
    color: navy; 
    text-decoration: none;
    margin: 0 1px;
}
.test-links a:hover {
    text-decoration: underline; 
}


/* Footer */
.site-footer {
    text-align: center;
    padding: 20px 10px;

    color: navy; 
    font-size: 0.9em; 
}
.site-footer p {
    margin: 0; 
}


/* MODAL NOTIFICATION - REDIRECT TO REAL SITE */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
