/* Parent Home*/
.parent-portal-home {
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: navy;
    font-size: 2em;
    margin-bottom: 30px;
}
.portal-options {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.portal-option {
    background-color: gold;
    color: navy;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s;
}
.portal-option:hover {
    background-color: darkgoldenrod;
    transform: scale(1.05);
}
@media (max-width: 768px) {
    .portal-options {
        flex-direction: column;
    }
}
